/* High level */

:root {
    font-family: sans-serif, Arial, 'Times New Roman';
    --main-font-family: sans-serif, Arial, 'Times New Roman';
    --main-font-size: 25px;
    --button-font-size: 20px;
    --button-small-font-size: 12px;
    --title-font-size: 35px;
    --current-temp-font-size: 50px;
    --border-radius: 10px;
    --page-width: 70%;
    --title-margin: 20px;
    --background-color: white;
    --btn-selection-color: #4ade80;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

body {
    margin: 0px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Input header */

.header {
    width: 100%;
    height: 120px;
    background-color: #0c4a6e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 2px -2px rgba(67, 67, 67, 0.5);
}

.user-input {
    font-size: var(--main-font-size);
}

.location-label {
    color: white;
    font-weight: bold;
}

#location-search {
    font-size: var(--main-font-size);
    padding: 5px;
    height: 40px;
    border-radius: var(--border-radius);
}

.submit-location {
    font-size: var(--button-font-size);
    height: 40px;
    margin-left: 20px;
    border-radius: var(--border-radius);
    background-color: #06b6d4;
}

.error-message {
    color: red;
    font-size: var(--button-font-size);
}

.loader-gif {
    width: 100px;
}

/* Current Weather Box */

.current-weather {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: var(--page-width);
    height: 200px;
    border: 1px black solid;
    border-radius: var(--border-radius);
    font-size: var(--main-font-size);
    background-color: var(--background-color);
}

.current-location {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: rgba(67, 67, 67, 0.5);
    padding: 10px;
    border-top-left-radius: calc(10px - 1px);
    border-top-right-radius: calc(10px - 1px);
}

.current-body {
    display: grid;
    grid-template-columns: 1fr .5fr .5fr;
    align-items: center;
    padding: 10px;
    flex: 1 1 auto;
}

.current-weather-information {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.current-temperature {
    font-size: var(--current-temp-font-size);
}

.condition-icon {
    width: 100px;
}

.current-max-min {
    display: flex;
    gap: 20px;
}

/* Buttons */

.forecast-buttons {
    display: flex;
}

.forecast-btn {
    width: 220px;
    height: 40px;
    border-radius: 0px;
    background-color: rgb(198, 198, 198);
    font-size: var(--button-font-size);
}

.forecast-selected {
    background-color: var(--btn-selection-color);
}

.change-temp-scale {
    justify-self:end;
    align-self: start;
}

.temp-scale-button {
    font-size: var(--button-small-font-size);
    width: 80px;
    height: 30px;
}

.selected-temp-scale {
    background-color: var(--btn-selection-color);
}

/* Daily + Hourly Forecast */

.forecast,
.hourly-forecast,
.current-weather-info {
    font-size: var(--main-font-size);
    border: 1px black solid;
    border-radius: var(--border-radius);
    width: var(--page-width);
    padding: 10px;
    background-color: var(--background-color);
}

.daily-forecast-body,
.hourly-forecast-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.forecast-day,
.hourly-data {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.forecast-day:not(:last-child)::after,
.hourly-data:not(:last-child)::after {
    content: '';
    width: 100%;
    border-bottom: 1px black solid;
    grid-column: 1 / 4;
}

.daily-forecast-title,
.hourly-forecast-title,
.current-weather-info-title {
    font-size: var(--title-font-size);
    font-weight: bold;
}

/* Daily Only */

.forecast-high-low {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.forecast-condition {
    width: 50px;
}

.daily-forecast-title {
    margin-bottom: var(--title-margin);
}

/* Hourly Only */

.day-title {
    font-size: calc(var(--main-font-size) * 1.25);
    font-weight: bold;
    margin: var(--title-margin) 0px;
}

/* Current Weather Information - Bottom */

.current-weather-data {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
    gap: 20px;
    column-gap: 40px;
    align-items: center;
    min-width: fit-content;
}

.current-weather-info-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    min-width: fit-content;
    gap: 10px;
}

.current-weather-info-item:not(:last-child):not(:nth-child(5))::after {
    content: '';
    width: 100%;
    border-bottom: 1px black solid;
    grid-column: 1 / 3;
}